			<h2>Individual Digital</h2>
			<h5>New York, NY.</h5>
			<p>
				One of the funnest places I have ever worked! It was my first time visiting THE City. Our offices were located in Mid-Town. Being from small-town Montana, this place was overwhelming. 
			</p>
			<p>
				The people I worked with were similarly just as impressive. I'll never forget them. 
			</p>
			<p>
				The app we worked on was meant to be a crowd sourced deal-of-the-day type site. It was at the time where Groupon was taking off and people were flocking to the internet to find the best possible prices on products. Unfortunately, we just couldn't break into the market. 
			</p>
			<p>
				I was the main front-end guy on the application. I handled not only the visual design, but also the implementation of the front-end code. I put together wireframes, worked with management and other stake-holders to create the best possible product in the quickest amount of time. Such is startup life. 
			</p>