.about {
	
	&__cover {
		background: url('/assets/img/background.jpg') 0 15% no-repeat;
		background-size: cover;
		min-height: 600px;
	}
	
}
.timeline {
	
	&__container {
		@extend .container;
	}
	
}