$timeline-base: #f2efe6;
$active-color: #a3c763;

.work {
	margin-top: 55px;
	
	&__col1 {
		@include make-col(12);
		
		&--content {
			padding: 30px;
		}
		@include media-breakpoint-up(sm) {
			@include make-col(9);
			
			&--content {
				padding: 0px 30px 30px 0px;
			}
		
		}
		
	}
	&__col2 {
		@include make-col(12);
		
		&--content {
			padding: 0px 0px 10px 30px;
		}
		
		@include media-breakpoint-up(sm) {
			@include make-col(3);
		}
		
		section {
			margin-bottom: 30px;
		}
		
	}
	
	.work-header {
		height: auto;
		
		&__bar {
			display: none;
		}
		
		@include media-breakpoint-up(sm) {
			width: 100%;
			position: relative;
			overflow: hidden;
			margin: 80px 0;
			
			&__bar {
				display: block;
				position: absolute;
				top: 125px;
				width: 100%;
				height: 4px;
				background: $timeline-base;
				z-index: -1;
			}

		}
				
	}
	&__main {
		padding-bottom: 80px;
	}
	&__overview {
		@include make-col(12);
		
		@include media-breakpoint-up(sm) {
			@include make-col(8);
			padding-right: 70px;
		}
		
	}
	&__abilities {
		@include make-col(12);
		
		@include media-breakpoint-up(sm) {
			@include make-col(4);
		}
		&--desc {
			@extend .text-xs-left;
			font-size: .85em;
			color: #666;
			margin-bottom: 5px;
		}
		
	}
	
}

.work__examples {
	
	li {
		margin-bottom: 20px;
		
		a {
			border: 5px solid #ccc; 
			display: block;
			-webkit-transition: border 0.5s; 
			transition: border 0.5s;
		}
		a.active {
			border: 5px solid $active-color;
		}
		
	}
	
}
.work__skills {
		
	li {
		margin-bottom: 5px;
		color: #828282;
		font-size: .8rem;
		
		i {
			margin-right: 10px;
		}
		
	}
	
}
.work__screenshot {
	
	&--video {
		@extend .embed-responsive;
		@extend .embed-responsive-4by3;
	}
	ul li {
		border: 5px solid #ccc;
		margin-bottom: 25px;
	}
	
}
.work__description {
	padding-top: 20px;
	font-size: .9em;
}

%timeline-base {
	width: 100%;
	padding: 30px;

	@include media-breakpoint-up(sm) {
		max-width: 571px;
		position: relative;
		min-height: 100px;
		margin: 0 auto;
		padding: 0;
	}
	
}

//TIMELINE
.timeline {
	@extend %timeline-base;
	
	&__header{
		font-family: teko, "Open Sans", sans-serif;
		margin-bottom: 35px;
		text-align: center;
		color: #828282;
	}
	&__bar {
		display: none;
	}
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		z-index: 2;
		
		li {
			display: list-item;
			margin-bottom: 15px;
			text-align: left;
			
			a {
				color: #969696;
				font-size: 25px;
				font-weight: lighter;
				text-decoration: none;
			}
			&:hover {
				
				.ball {
					background: $active-color;
				}
				
			}
			.active {
				
				.ball {
					background: $active-color;
				}
				
			}
			span {
				display: none;
			}
			.mobile-year {
				display: inline-block;
			}
			
		}
		
	}
	.ball {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: $timeline-base;
		display: inline-block;
		margin-right: 10px;
		-webkit-transition: background 0.5s; 
		transition: background 0.5s;
	}
	
	//timeline desktop
	@include media-breakpoint-up(sm) {
		
		.ball {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: block;
		}
		
		&__bar {
			display: block;
			position: absolute;
			top: 121px;
			width: 99%;
			height: 10px;
			background: $timeline-base;
			z-index: -1;
		}
		&__list {
			
			li {
				display: inline-block;
				margin-right: 50px;
				
				&:last-child {
					margin-right: 0;
				}
				
				span {
					display: block;
					text-align: center;
					color: #969696;
				}
				
				a {
					display: block;
					width: 50px;
					height: 50px;
					margin-top: 10px;
					cursor: pointer;
					
					span {
						display: none;
					}
					
				}
				.mobile-year {
					display: none;
				}
			
			}
			
		}
		
	}

}