<div class="timeline">
	
	<ul class="timeline__list">
		<li><span>2000</span>
			<a routerLink="/work/ir" [routerLinkActive]="['active']">
				<div class="ball"></div> <span class="mobile-year"> 2000</span>
			</a>
		</li>
		<li><span>2004</span>
			<a routerLink="/work/dealerspan" [routerLinkActive]="['active']">
				<div class="ball"></div> <span class="mobile-year"> 2004</span>
			</a>
		</li>
		<li><span>2009</span>
			<a routerLink="/work/kinetic" [routerLinkActive]="['active']">
				<div class="ball"></div> <span class="mobile-year"> 2009</span>
			</a>
		</li>
		<li><span>2010</span>
			<a routerLink="/work/individual" [routerLinkActive]="['active']">
				<div class="ball"></div> <span class="mobile-year"> 2010</span>
			</a>
		</li>
		<li><span>2012</span>
			<a routerLink="/work/dell" [routerLinkActive]="['active']">
				<div class="ball"></div> <span class="mobile-year"> 2012</span>
			</a>
			</li>
		<li><span>2015</span>
			<a routerLink="/work/sofi" [routerLinkActive]="['active']">
				<div class="ball"></div> <span class="mobile-year"> 2015</span>
			</a>
		</li>
	</ul>
	
	<div class="timeline__bar"></div>
	
</div>

