			<h3>Dealerspan</h3>
			<h5>Billings, MT.</h5>
			<p>
				I met a guy in Helena who managed a large car dealership. He hired me to help him build an online lead capture service for people wanting car loans. We went to work on it nights and weekends. 
			</p>
			<p>
				This project required me to learn PHP and MySQL. If only you could see the horrid inline php (4.3) I was writing! We were dreaming big, and we went from online lead sourcing to dealership websites with a custom CMS. It didn't come close to working, but we kept pushing forward. We got the attention of a Montana-based dealership group. They wanted in and they gave us seed money to get the project off the ground.
			</p>
			<p>
				My partner and I went full time into developing this software. We contracted out a lot of the development, and I was the development lead. We had money and we had momentum.
			</p>
			<p>
				In between development cycles, we traveled all over the U.S. doing dog-and-pony shows to raise additional capital. We couldn't get anyone to bite. The project was half-baked, and needed a lot of money and development effort. Eventually, the money ran out, and I had to leave. 
			</p>
			<p>
				My partner didn't give up! He and another partner went out and secured 5 million dollars. This was no small feat in Montana. I came back in, this time as the lead designer on the project. I hired a group of designers and we set out to make the best UI and UX the dealership world has ever seen. We worked tirelessly creating a UI that, for its time, was well ahead of what anyone was doing in that industry. My job was to work very closely with a group of engineers, sales and marketing, and our investors. It was a lot of iteration. It was a battle everyday, that I looked forward to fighting. 
			</p>
			<p>
				It was by no means easy. We had to create processes, flows, ticket management, etc. Many of us had not been in this situation before and we sort of made it up as we went. This was a crash course in creating a software company, and the lessons I took from here could only be learned in this type of environment. No schooling could have ever prepared us for what we faced.
			</p>
			<p>
				Eventually I took over both the engineering department and design. I think my title was development director. My job was to get us to a beta product as soon as possible. I pulled the team together, many of which were not exactly happy at the time, and we got a demo together in just a few months.
			</p>
			<p>
				The auto industry was facing some of its greatest challenges. The big 3 in Detroit were going under and Obama was talking bail-outs. The investors at the time got nervous, and pulled our funding.</p>
			<p>
				Though the company didn't succeed, most everyone that worked with us did. I like to think we all took away something from our experience with Dealerspan. I wouldn't trade this experience for anything. 
			</p>