<div class="container"  [@routeAnimation]>
	<div class="work__col1">
		<div class="work__col1--content">
		
			<h2>Helena Independent Record</h2>
			<h5>Helena, MT.</h5>
			<p>
				The Independent Record is the local newspaper in the capitol city of Montana. Here is where I launched my career into the world wide web. 
			</p>
			<p>
				After college, I was trying to make a living as a web designer running my own business. I was failing miserably. Helena was not really a hotbed of people needing websites in the early 2000's, and if they were, there wasn't a steady stream of work coming in to help me make my rent payments.
			</p>
			<p>
				There was an ad for a graphic designer at the paper. I knew very little about print design. I mean I could make some pretty cool stuff in Fireworks at the time, and knew my way around Photoshop 5, but I had no experience in actual print design. I decided I'd give it a try.
			</p>
			<p> 
				I walked into the interview with my sketchbook. I was a pretty good little artist, and had offers to have my artwork hang on local businesses. I was hoping that would be enough. During the interview process, I mentioned that I was trying to make a living as a web designer and that really seemed to peak their interest. They were just really starting to focus on online delivery of their content. They had an in-house "webmaster" already on staff, but felt she could use a backup in case she was gone.
			</p>
			<p>
				I was in luck! They gave me a chance. I worked primarily as a graphic artist for the first 2 years, with small online tasks every now and then. Then on September 11th, 2001, my career changed. I remember it like yesterday. The office was buzzing with activity; people running back and forth, and huddled around the TV in the newsroom. After I watched the second plane fly into the WTC, I ran back to the online department. The webmaster at the time was out of the office. All I knew is we needed to get the site up-to-date with the latest AP information. 
			</p>
			<p>
				I began publishing stories and photos as they came in off the wire as fast as I could. Many websites around the country didn't have the content as fast and up-to-date like we did in little ol' Helena Montana. Our site traffic spiked from people all over the world! It was then I truly understood the power of journalism, and the place websites had in the future of content delivery for newspapers. I never doubted that, of course, but now it was crystal clear what I wanted to do with my career. 
			</p>
			<p>
				Not long after, the current webmaster took a job in another state. I then took over the online department. It was daunting to say the least. I was just a kid. I remember sitting down with the publisher and retail ad manager and we planned out what we wanted to do with the website. The ad sales at the time were not enough to support the department and that needed to change. It was clear that my career there hinged on it.
			</p>
			<p>
				So it began! In the next 2 years, I grew the department somewhere around 178%. I worked with the entire community of Helena, building websites, selling online advertising, delivering metics, on top of building and maintaining the newspaper's website. I also had a few folks that I managed. I learned to set yearly sales goals, budgets, and working directly with marketing to really get this department running on all cylinders. 
			</p>
			<p>Funny tidbit: This was my first taste of CSS. Back then I had to worry more about Netscape Navigator than IE 5.5. Internet Explorer handled CSS back then way better than Netscape.
			</p>
			
		</div>
	</div>

	<div class="work__col2">
		<div class="work__col2--content">
		
			<h4>Skills used</h4>
			
			<ul class="work__skills">
				<li><i class="fa fa-crop fa-fw" aria-hidden="true"></i>Graphic Design</li>
				<li><i class="fa fa-code fa-fw" aria-hidden="true"></i>Web Design / Development</li>
				<li><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i>Management</li>
				<li><i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>Customer Relations</li>
				<li><i class="fa fa-bar-chart-o fa-fw" aria-hidden="true"></i>Analytics</li>
				<li><i class="fa fa-file-code-o fa-fw" aria-hidden="true"></i>Content Management</li>
			</ul>
		
		</div>
	</div>

</div><app-my-footer></app-my-footer>