<div class="about" [@routeAnimation]>
	
	<div class="about__cover">
		<h1>MONTANA BOY.</h1>
	</div>
	
	<div class="container">
		
		<div class="about__bio">
	
				<div class="about__bio--text">
					<h2>About Me</h2>
					
					<p>
						Where do I begin? I was born and raised in Montana. Have been here and there, but Montana is home.				
					</p>
					<p>
						So often I have heard to build what you love. It's the cadence call to all designers that I have ever met in my career. It's what I choose to live by. But there is another very important mantra to live by, and that is to live where you love. Montana is home my to family, friends, and the quality of life that makes it hard to live anywhere else. I've spent time in large populated areas like New York, and the Bay. There was nothing more life-sucking than trying to drive the 101 from Mountain View to San Jose - and God help you if it rained. 
					</p>
					<p>
						My family is my greatest achievement in life. I am blessed to have 2 children - Dylan and Taylor. Dylan, my son loves riding motorcycles and my daughter Taylor loves riding horses. I'm also blessed to say that I have been married to my best friend going on 14 years now. She's more than a wife to me, she's my partner in life. Anyone who has been married that long knows it's a lot of work, and a lot of effort. My family is my greatest achievement in life.
					</p>
					<p>
						As for me personally, my hobbies surround being outside. My favorite hobby is riding dirt bikes. When I'm not outside playing, I resign myself to being a bit nerdy playing video games or catching up with friends at the local brewery. 
					</p>
					
				</div>
				
				<div class="about__bio--photo">
					<img src="/assets/img/family.jpg" class="img-fluid">
					<p>The sun was in our eyes. Also, we are horribly un-photgenic.</p>
				</div>
				
			</div>
	
	</div>
	
	<app-my-footer></app-my-footer>

</div>