			<h2>Dell Kace</h2>
			<h5>Santa Clara, CA.</h5>
			<p>
				This was a great experience with a larger company. I hadn't worked in this type of company before. It was a little intimidating at first, but once I got my feet wet, I fit in just fine.
			</p>
			<p>
				I worked within the UX team as a user interface developer. It was a great team that did some excellent work.
			</p>
			<p>
				I wore a few different hats here, but my primary focus was on a question and answer site called itninja.com. It had a loyal user base, and was used worldwide. My main responsibility was the front-end development of the site. I was also able to use my UX skills and put together workflows. I didn't do a lot of visual design, but was often called upon to. 
			</p>
			<p>
				Our team was pretty small on Itninja, so we all had to work together pretty closely. I worked directly with product managers and project managers to always be one sprint ahead of the main development team. I also worked closely with the user testing that was involved, often times putting together functional prototypes for users to destroy.
			</p>
			<p>
				The other main project was an appliance based service desk application - both a native mobile app and website. It was incredibly complex and fully flexible from the customers standpoint, so there were a lot of variables to consider with even the slightest design change.
			</p>
			<p>
				I learned a ton while working here. Really grateful for the opportunity.
			</p>