			<h2>SoFi</h2>
			<h5>San Francisco, CA.</h5>
			<p>
				SoFi is a modern finance company that is fueling the shift to a bankless world. They take a radical approach in everything they do, from offering unprecedented services around borrowing and wealth management to evaluating loan applicants not on numbers, but on potential.  They’ve replaced the impersonal, transactional bank experience with a long term partnership, enabling their members to realize the full potential of their money, careers and relationships. Their members constantly push the limits of what life has to offer. Whether looking to refinance their student loans, buy their dream home, or simply seek advice as they ascend in their careers, SoFi provides the best products and tools to match their ambitions and propel them to new levels of financial greatness.
			</p>
			<p>
				I've never been on the hook for getting a project done in time for a Super Bowl before. That was probably my favorite memory working there. We were under a deadline to get the company's website redesigned up and updated before our Super Bowl commercial. Long hours and a whole lot of stress, but we made it. My personal project was rebuilding the <a href="https://www.sofi.com/blog/"> blog section </a> - which was built on a WordPress backend.
			</p>
			<p>
				I learned a lot while there. I was introduced to Angular 2 and other javascript libraries like C3 which was built on D3. I was also introduced to Scala, Docker and the Play framework, though I claim very little understanding of. 
			</p>
			<p>
				Amazing people work at SoFi. I enjoyed working and learning along side very humble and friendly people.
			</p>