<div class="row">
	<div class="work__col1">
		<div class="work__col1--content">
		
			<h2>Dealerspan</h2>
			<h5>Billings, MT.</h5>
			<p>
				Thousand foot view: I met a guy in Helena who managed a large car dealership. He was an entrepreneur through and through. He convinced me to help him build an online lead capture service for people wanting car loans. We went to work on it nights and weekends. We had no idea what we were doing. 
			</p>
			<p>
				This project required me to learn PHP and MySQL. If only you could see the horrid inline php (4.3) I was writing! We were dreaming big, and we went from online lead sourcing to dealership websites with a custom CMS. It didn't come close to working, but we kept pushing forward. We got the attention of a Montana-based dealership group. They wanted in and they gave us seed money to get the project off the ground.
			</p>
			<p>
				My partner and I went full time into developing this software. We contracted out a lot of the development, and I was the development lead. We had money and we had momentum.
			</p>
			<p>
				We ran out of money pretty quickly and dissolved the company. Fun while it lasted! We tried to keep it afloat. We traveled all over the place doing dog and pony shows to raise capital. Looking back, I can see why nobody would give some punk kid a million bucks. 
			</p>
			<p>
				My partner didn't give up! He and another partner went out and secured 5 million dollars. This was no small feat in Montana. I came back in, this time as the lead designer on the project. I hired a group of designers and we set out to make the best UI and UX the dealership world has ever seen. We worked tirelessly creating a UI that, for its time was well ahead of what anyone was doing in that industry. We worked very closely with a group of engineers, that to this day are some of the best programmers I have ever met. 
			</p>
			<p>
				It was by no means easy. Startup struggles were real! We had to create processes, flows, ticket management, etc. Many of us had not been in this situation before and we sort of made it up as we went. Each week felt like a month, yet we seemed to only accomplish what we thought should be accomplished in a day. This was a crash course in creating a software company, and the lessons I took from that could only be learned in this environment. No university could have ever prepared us for what we faced.
			</p>
			<p>
				Eventually I took over both the engineering department and design. I think my title was development director or something. My job was to get us to a demo-able product as soon as possible. I pulled the team together, many of which were not exactly happy at the time, and we got a demo together in just a few months.
			</p>
			<p>
				The auto industry was facing some of its greatest challenges ever. The big 3 in Detroit were going under and Obama was talking bail-outs. The investors at the time got nervous, and pulled our funding. I remember a good friend that worked with us at the time had a pregnant wife of 7 months. I remember the sinking feeling of knowing I had to lay him off. The harsh reality of startup life was right in my face. 
			</p>
			<p>
				Though the company didn't succeed, most everyone that worked with us did. My friend (with the pregnant wife) went on and became one of the most successful web designers I've ever met. I like to think we all took away something from our experience with Dealerspan. I wouldn't trade this experience for anything. 
			</p>
			
		</div>
	</div>

	<div class="work__col2">
		<div class="work__col2--content">
		
			<h4>Skills used</h4>
			
			<ul class="skills">
				<li><i class="fa fa-crop fa-fw" aria-hidden="true"></i>UI / UX Design</li>
				<li><i class="fa fa-code fa-fw" aria-hidden="true"></i>HTML/CSS</li>
				<li><i class="fa fa-code fa-fw" aria-hidden="true"></i>jQuery</li>
				<li><i class="fa fa-code fa-fw" aria-hidden="true"></i>PHP</li>
				<li><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i>Management</li>
				<li><i class="fa fa-usd fa-fw" aria-hidden="true"></i>Business Development</li>
				<li><i class="fa fa-video-camera fa-fw" aria-hidden="true"></i>Video Production</li>
				<li><i class="fa fa-repeat fa-fw" aria-hidden="true"></i>Agile Methodologies</li>
			</ul>
		
		</div>
		
	</div>
</div>