<div class="row">
	<div class="work__col1">
		<div class="work__col1--content">
		
			<router-outlet></router-outlet>
			
		</div>
	</div>

	<div class="work__col2">
		<div class="work__col2--content">
			
			<section>
				<ul class="work__examples">
					<li>
						<a routerLink="/work/kinetic/kinetic-examples" [routerLinkActive]="['active']">
							<img src="/assets/img/thumb/koakompass_front.png" class="img-fluid">
						</a>
					</li>
				</ul>
			</section>
			
			<section>
			<h4>Skills used</h4>
			
			<ul class="work__skills">
				<li><i class="fa fa-crop fa-fw" aria-hidden="true"></i>UI / UX Design</li>
				<li><i class="fa fa-code fa-fw" aria-hidden="true"></i>HTML/CSS</li>
				<li><i class="fa fa-code fa-fw" aria-hidden="true"></i>jQuery</li>
				<li><i class="fa fa-code fa-fw" aria-hidden="true"></i>PHP</li>
				<li><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i>Content Management</li>
				<li><i class="fa fa-usd fa-fw" aria-hidden="true"></i>Business Development</li>
				<li><i class="fa fa-video-camera fa-fw" aria-hidden="true"></i>Video Production</li>
				<li><i class="fa fa-repeat fa-fw" aria-hidden="true"></i>Photography</li>
			</ul>
			
			
			</section>
		
		</div>
		
	</div>
</div>