<div class="container work__main">
	<div class="work__overview">
		
		<h2>Work Overview</h2>
		<p>
		Since the late nineties, I have been immersed in web development and design. From large corporations across the continent to mom-and-pop’s down the road, I love it all. 
		</p>
		<p>
		I consider myself a generalist with a broad range of skills including front-end design and development, back-end development, UX, print, illustration, video, and photography. Through my experiences, I’ve found my sweet spot is front-end design and development. I love creating intuitive, beautiful interfaces and hope to be a part of a team who also appreciates good design and willing to put the time and effort to accomplish that design!
		</p>
		<p>Above is a timeline of my professional career as a full-time employee. There is a lot missing. I've worked as a contractor for over a decade. I've worked with a number of different startups, built dozens of websites over the years.</p>
		
		<h3>Portfolio</h3>
		<p>
			Please visit the timeline above for my career path. Portfolio items not listed are available upon request.
		</p>
		
	</div>
	
	<div class="work__abilities">
		
		<h4>Strengths</h4>
		
		<div class="work__abilities--desc" id="html-css">HTML / CSS / SASS</div>
		<progress class="progress progress-warning" value="95" max="100" aria-describedby="html-css"></progress>
	
		<div class="work__abilities--desc" id="jquery">jQuery</div>
		<progress class="progress progress-warning" value="45" max="100" aria-describedby="jquery"></progress>
	
		<div class="work__abilities--desc" id="angular2">Angular 2</div>
		<progress class="progress progress-warning" value="40" max="100" aria-describedby="angular2"></progress>
		
		<div class="work__abilities--desc" id="javascript">Javascript</div>
		<progress class="progress progress-warning" value="40" max="100" aria-describedby="javascript"></progress>
		
		<div class="work__abilities--desc" id="javascript">Management</div>
		<progress class="progress progress-warning" value="65" max="100" aria-describedby="javascript"></progress>
		
		<div class="work__abilities--desc" id="ux">User Experience</div>
		<progress class="progress progress-warning" value="85" max="100" aria-describedby="ux"></progress>
		
		<div class="work__abilities--desc" id="visual-design">Visual Design</div>
		<progress class="progress progress-warning" value="90" max="100" aria-describedby="visual-design"></progress>
		
		<div class="work__abilities--desc" id="visual-design">Git</div>
		<progress class="progress progress-warning" value="65" max="100" aria-describedby="visual-design"></progress>
		
	</div>
	
</div>

<app-my-footer></app-my-footer>