<div class="home" [@routeAnimation]>
	
	<div class="home__intro">
		
		<div class="home__intro--hello">
			Hello! My name is
		</div>
		
		<div class="home__intro--name">
			JOSH KING
		</div>

		<div class="home__intro--meta">
			and I'm a UI / UX designer
		</div>
		
		<div class="home__intro--social">
			<ul>
				<li><a href="https://www.twitter.com/joshking"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://dribbble.com/joshking"><i class="fa fa-dribbble"></i></a></li>
				<li><a href="https://www.instagram.com/webposer/"><i class="fa fa-instagram"></i></a></li>
				<li><a href="https://www.linkedin.com/in/joshkingbillings"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="https://github.com/joshking"><i class="fa fa-github"></i></a></li>
			</ul>
		</div>
				
	</div>
	
</div>